:root {
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__wrapper {
    position: relative;
}

.header__content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px 40px;
    border-bottom: 1px solid #e8ebed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.header__nav__logo {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 44px;
    height: 44px;
    margin-left: 20px;
    cursor: pointer;
}

.header__bars__icon,
.header__profile__icon,
.header__search_icon,
.header__profile__bell__icon{
    color: #666;
    cursor: pointer;
}

.header__bars__icon {
    padding: 4px 4px 4px 0;
    font-size: 22px;
}

.header__profile__icon {
    padding: 4px 0 4px 4px;
    font-size: 20px;
}

.header__search__wrapper {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 23px;
    border: 2px solid #d7d7d7;
    position: relative;
}

.header__search__icon {
    padding-left: 5px;
}

.header__search__wrapper:focus-within {
    border-color: #444;
}

.header__search {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 6px;
    font-size: 15px;
    line-height: 15px;
}

/*header search result*/


.header__search__result {
    position: absolute;
    top: 47px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -4px 32px rgba(0,0,0,.2);
    min-width: 230px;
    min-height: 50px;
    padding: 12px;
    width: 430px;
    border-radius: 10px;
    color: #0000008a;
    display: none;
    max-height: calc(90vh - 66px);
    overflow: hidden;
    overflow-y: auto;
}


.header__search__result__keyword {
    display: flex;
    align-items: center;
    margin: 6px 0 10px;
    padding: 0 12px;
}

.header__search__keyword {
    font-size: 14px;

}

.search__keyword__icon {
    font-size: 14px;
    margin-right: 10px;
}

.header__search__result__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);

}

.header__search__result__title h5 {
    margin: 0;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.header__search__result__view__more {
    text-decoration: none;
    font-size: 14px;
    color: #0000008a;
}

.header__search__result__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.header__search__result__item {
    border-radius: 8px;

}

.header__search__result__item:hover {
    background-color: #feefef;
}

.header__search__result__item__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 12px;

}

.header__search__result__item__link p {
    color:  #292929;
    font-size: 14px;
    margin-left: 10px;
}

.header__search__result__item__img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

header__search__result__item__link p {
    margin: 0;
    padding: 0;
}

.header__search__not__found {
    font-size: 14px;
    padding-left: 12px;
    color: #892727;
}

/*header auth*/

.header__auth {

}

.header__auth__login,
.header__auth__register {
    text-decoration: none;
    margin: 0 10px;
    background-color: #f89d48;
    color: #fff;
    padding: 9px 20px;
    border-radius: 61px;
    font-weight: 500;
    font-size: 14px;
}

.header__auth__login:hover,
.header__auth__register:hover {
    opacity: 0.8;
}

/*header profile*/

.header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__profile__courses {
    color: var(--text-color);
    cursor: pointer;
    padding: 4px;
    margin-bottom: 0 !important;
}

.header__profile__bell__icon {
    font-size: 18px;
    margin: 0 14px 0 24px;
}

.header__profile__wrapper {
    position: relative;

}

.header__profile__detail {
    position: absolute;
    top: 43px;
    right: 0px;
    background-color: #fff;
    padding: 24px 24px 0 24px;
    border-radius: 12px;
    box-shadow: 0 -4px 32px rgba(0,0,0,.2);
    display: none;
    /*animation: fadeIn 0.3s ease;*/
}

.header__profile__ava__name {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.header__profile__avatar {
    width: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.header__profile__name {
    min-width: 146px;
}

.header__profile__name h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
}

.header__profile__name p {
    font-size: 14px;
    color: #666;
}

.header__profile__list {
    list-style: none;
    padding: 0;
}

.header__profile__item {
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.header__profile__item:last-child {
    padding-bottom: 0;
}

.header__profile__item__link {
    text-decoration: none;
    display: block;
    color: #666;
    font-size: 14px;
}

.header__profile__item__link:nth-child(2) {
    padding: 10px 0;
}

.header__profile__item__link:hover {
    color: #333;
}


.header__profile__avatar {
    width: 50px;
    border-radius: 50%;
}

.header__profile__courses__wrapper {
    position: relative;
}

.header__profile__courses__detail {
    min-width: 382px;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -4px 32px rgba(0,0,0,.2);
    border-radius: 10px;
    color: #1d2129;
    padding: 20px 10px;
    display: none;
}

.header__profile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px 6px 10px;
}

.header__profile__top h3 {
    font-size: 18px;
    font-weight: 500;
}

.header__profile__top__show__all {
    font-size: 14px;
    color: #f05123;
    text-decoration: none;
}

.header__profile__no__course {
    text-align: center;
    font-size: 14px;
    color: #666;
}

.header__courses__list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 438px;
    overflow: hidden;
    overflow-y: auto;
}

.header__courses__item:last-child {
    margin-bottom: 0;
}

.header__courses__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
}

.header__courses__item:hover {
    background-color: rgba(22, 24, 35, .05);
}
.header__courses__item__link__img {
    display: block;
    text-decoration: none;
}

.header__courses__item__img {
    width: 120px;
    border-radius: 8px;
}

.header__courses__item__detail {
    margin-left: 12px;
    flex: 1;
}

.header__courses__item__title {
    color: #333;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
}

.header__courses__since__learn {
    font-size: 13px;
    margin-top: 2px;
}

.header__courses__percent__complete {
    height: 8px;
    background-color: #ddd;
    border-radius: 8px;
    margin-top: 7px;
}

/*@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}*/