
.header__nav {
    width: 16%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.header__nav__list {
    list-style: none;
}

.header__nav__item {
    background-color: rgb(250 239 239);
}

.header__nav__item:hover {
    background-color: #ecd6d6;
}

.header__nav__wrapper__close__icon {
    text-align: end;
    background-color: rgb(250 239 239);
    border-bottom: 1px solid #b3b3b3;
}

.nav__close__icon {
    font-size: 24px; 
    padding: 16px;
    cursor: pointer;
    color: #333;
}

.nav__close__icon:hover {
    opacity: 0.8;
}

.header__nav__item--link {
    display: block;
    padding: 16px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #b3b3b3;
}

.nav__social {
    padding: 12px 0;
}

.nav__social__item {
    text-decoration: none;
}

.nav__social__item:hover {
    opacity: 0.8;
}

.nav__social__youtube__icon,
.nav__social__facebook__icon,
.nav__social__tiktok__icon {
    font-size: 28px;
    margin-left: 12px;
}

.nav__social__youtube__icon {
    color: #ff0000;
}

.nav__social__facebook__icon {
    color: #0866ff;
}

.nav__social__tiktok__icon {
    color: #000;
}