
.header__nav {
    width: calc(16% + 3px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 2;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav__item {
    background-color: rgb(250 239 239);
}

.header__nav__item:hover {
    background-color: #ecd6d6;
}

.header__nav__wrapper__close__icon {
    background-color: rgb(250 239 239);
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    align-items: center;
    padding: 16px 10px;
    justify-content: space-between;
}

.header__nav__wrapper__close__icon h4 {
    margin: 0;
    font-size: 20px;
    color: #dc3434;
}


.nav__close__icon {
    font-size: 24px;
    padding: 0 4px;
    cursor: pointer;
    color: #333;
}

.nav__close__icon:hover {
    opacity: 0.7;
}

.header__nav__item--link {
    display: block;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    color: #333;
    border-bottom: 1px solid #b3b3b3;
}

.nav__social {
    padding: 12px 0;
}

.nav__social__item {
    text-decoration: none;
}

.nav__social__item:hover {
    opacity: 0.8;
}

.nav__social__youtube__icon,
.nav__social__facebook__icon,
.nav__social__tiktok__icon {
    font-size: 28px;
    margin-left: 12px;
}

.nav__social__youtube__icon {
    color: #ff0000;
}

.nav__social__facebook__icon {
    color: #0866ff;
}

.nav__social__tiktok__icon {
    color: #000;
}

.overlay {
    position: fixed;
    left: calc(16% + 3px);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    animation: fadeIn 0.3s linear forwards;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
