
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.register__wrapper {
    background-color: #5d9fe1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__content {
    width: 400px;
    background: #fff;
    margin: 0 auto;
    border-radius: 28px;
    padding: 10px 38px 23px;
}

.register__title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0 30px 0;
    color: #333;
}

.register__form {

}

.register__register__link {
    text-decoration: none;
}

.register__form__username,
.register__form__phone{
    margin-bottom: 24px;
}

.register__form__password {
    margin-bottom: 24px;
    position: relative;
}

.register__form__confirm__password {
    margin-bottom: 12px;
    position: relative;
}

.register__form__eye__icon__wrapper {
    position: absolute;
    top: 24px;
    right: 2px;
    cursor: pointer;
}

.register__form__eye__icon {
    font-size: 14px;
    color: #333;
    padding: 4px;
}

.register__form__input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #e3e3e3;
    padding: 4px 0;
    font-size: 14px;
}

.register__forgot__password {
    display: block;
    text-decoration: none;
    float: right;
}

.register__forgot__password:hover {
    opacity: 0.8;
}

.register__other__sign__up {
    text-align: center;
    color: #6e6c6c;
    margin: 22px 10px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 4px;
}

.register__form__btn {
    margin-top: 10px;
    width: 100%;
    padding: 9px;
    border-radius: 30px;
    border: none;
    border: none;
    outline: none;
    background-color: #7db8e4;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.register__form__btn:hover {
    opacity: 0.8;
}

.register__other__icons {
    margin-top: 12px;
}

.register__facebook__icon,
.register__twitter__icon,
.register__google__icon {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.register__facebook__icon:hover,
.register__twitter__icon:hover,
.register__google__icon:hover {
    opacity: 0.8;
}

.register__facebook__icon {
    color: #5959b2;
}

.register__twitter__icon {
    color: #1ea1f1;
}

.register__google__icon {
    color: #9f6363;
}

.register__register {
    text-align: center
}

.register__register__question {
    color: #333;
    margin-bottom: 2px;
}

.register__error__message {
    color: red;
}
